.form {
    display: flex;
    margin: 1em auto;
}

input{
  font-size: 1.2em;
}

.form input[type='text'] {
  flex: 10;
  padding: 5px;
}

.form input[type='submit'] {
  flex: 2;
}

@media only screen and (min-width: 1024px){
  .form{
    width: 80%;
    max-width: 1200px;
  }
}


